/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --dark-violet: #000028;
    --fucsia: #FF0070;
    --dusty-fucsia: rgba(255, 0, 112, 0.4);
    --purple: #DB00FF;
    --pink-dust: #F1B2CE;

    --bg-color: var(--dark-violet);
    --text-color: var(--pink-dust);
    --title-color: var(--purple);
    --accent-color: var(--fucsia);
    --accent-text-on: var(--dark-violet);
    --decor-color: var(--fucsia);
    --decor-color-hover: var(--dusty-fucsia);
    --decor-text: var(--fucsia);

    --page-bg-image: url("../images/cover-image-dark.png");
    --page-bg-color: var(--dark-violet);
}
