/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* базовая (тёмная) тема */
  --dark-violet: #000028;
  --fucsia: #FF0070;
  --dusty-fucsia: rgba(255, 0, 112, 0.4);
  --purple: #DB00FF;
  --pink-dust: #F1B2CE;

  --bg-color: var(--dark-violet);
  --text-color: var(--pink-dust);
  --title-color: var(--purple);
  --accent-color: var(--fucsia);
  --accent-text-on: var(--dark-violet);
  --decor-color: var(--fucsia);
  --decor-color-hover: var(--dusty-fucsia);

  --page-padding: 10px;
  --min-block-size: 668px;
  --header-gap: 55px;
  --content-top-margin: 30px;
  --between-sections-gap: 40px;
  --between-cards-gap: 20px;
  --card-gap: 10px;
  --tip-gap: 10px;
  --gallery-gap: 10px;

  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --min-block-size: 1024px;
    --header-gap: 162px;
    --content-top-margin: 60px;
    --between-sections-gap: 80px;
    --gallery-gap: 20px;
    --between-cards-gap: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --min-block-size: 768px;
    --header-gap: 114px;
  }
}
